function Trap.new 0
    push constant 5
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push constant 1
    neg
    pop this 3
    push constant 16
    pop this 4
    push pointer 0
    return
function Trap.draw 2
    push argument 0
    pop pointer 0
    push this 1
    push this 4
    call Math.multiply 2
    pop local 0
    push this 0
    push this 4
    call Math.multiply 2
    pop local 1
    push this 2
    push constant 1
    eq
    not
    if-goto Trap_1
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push this 4
    add
    push constant 1
    sub
    push local 1
    push this 4
    add
    push constant 1
    sub
    call Screen.drawRectangle 4
    pop temp 0
    goto Trap_0
label Trap_1
label Trap_0
    push this 2
    push constant 2
    eq
    not
    if-goto Trap_3
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push this 4
    add
    push constant 1
    sub
    push local 1
    push this 4
    add
    push constant 1
    sub
    call Screen.drawRectangle 4
    pop temp 0
    push local 0
    push constant 2
    add
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push constant 2
    add
    push local 1
    push constant 2
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 3
    add
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push constant 2
    add
    push local 1
    push constant 2
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 4
    add
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push constant 2
    add
    push local 1
    push constant 2
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 7
    add
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push constant 7
    add
    push local 1
    push constant 2
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 8
    add
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push constant 7
    add
    push local 1
    push constant 2
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 9
    add
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push constant 7
    add
    push local 1
    push constant 2
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 12
    add
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push constant 12
    add
    push local 1
    push constant 2
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 11
    add
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push constant 12
    add
    push local 1
    push constant 2
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 13
    add
    push local 1
    push this 4
    add
    push constant 4
    sub
    push local 0
    push constant 12
    add
    push local 1
    push constant 2
    add
    call Screen.drawLine 4
    pop temp 0
    goto Trap_2
label Trap_3
label Trap_2
    push constant 0
    return
function Trap.erase 2
    push argument 0
    pop pointer 0
    push this 1
    push this 4
    call Math.multiply 2
    pop local 0
    push this 0
    push this 4
    call Math.multiply 2
    pop local 1
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push this 4
    add
    push constant 1
    sub
    push local 1
    push this 4
    add
    push constant 1
    sub
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Trap.hits 2
    push argument 0
    pop pointer 0
    push this 1
    push this 4
    call Math.multiply 2
    pop local 0
    push this 0
    push this 4
    call Math.multiply 2
    pop local 1
    push this 3
    not
    not
    if-goto Trap_5
    push constant 0
    return
    goto Trap_4
label Trap_5
label Trap_4
    push argument 1
    push local 0
    lt
    not
    if-goto Trap_7
    push constant 0
    return
    goto Trap_6
label Trap_7
label Trap_6
    push argument 1
    push local 0
    push this 4
    add
    push constant 1
    sub
    gt
    not
    if-goto Trap_9
    push constant 0
    return
    goto Trap_8
label Trap_9
label Trap_8
    push argument 2
    push local 1
    lt
    not
    if-goto Trap_11
    push constant 0
    return
    goto Trap_10
label Trap_11
label Trap_10
    push argument 2
    push local 1
    push this 4
    add
    push constant 1
    sub
    gt
    not
    if-goto Trap_13
    push constant 0
    return
    goto Trap_12
label Trap_13
label Trap_12
    push constant 1
    neg
    return
function Trap.getRow 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Trap.getCol 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Trap.getActive 0
    push argument 0
    pop pointer 0
    push this 3
    return
function Trap.setActive 0
    push argument 0
    pop pointer 0
    push argument 1
    pop this 3
    push constant 0
    return
function Trap.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return